.testimonial {
  padding-bottom: 150px;

  .title {
    margin-bottom: 15px;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    list-style-type: none;
  }

  &__item {
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }

    img {
      transition: 0.3s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}