$primary-color: #486958;
$dark-green: #58A9A5;
$light-green: #CCF0E6;
$dark-grey: #1C2323;
$light-grey: #404242;
$white: #FFFFFF;
$orange: #FEC62D;
$black: #000000;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;